.header {
  display: flex;
  max-width: 1440px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--accent-color);
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: var(--main-dark-font-color);
  transition: all var(--transition-main);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--hover-color);
}
